/*
 * lazygallery - A little JS & CSS snippet for a lazy loading gallery.
 *
 * @author Jan-Morris Blüthner <bluethner@heliophobix.com>
 * @copyright Do whatever you want with this. If you become a millionaire using this, you owe me a beer.
 *
 * https://heliophobix.com/
 * https://gitlab.com/nighttimedev/lazygallery
 *
 */
body,html {
    margin: 0;
    padding: 0;
}
div.lazycontainer {
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
    height: 470px;
    display: flex;
    flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
div.lazycontainer, div.lazycontainer * {
    box-sizing: border-box;
}
div.lazycontainer img.lazyimg {
    height: auto;
    width: 31%;
    margin: 1%;
    padding: 10px;
}
div.lazylightbox {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(10px);
}
div.lazylightbox div.lazylightboxinner {
    position: absolute;
    transform: translate(-50%,-50%);
    background: white;
    width: 600px;
    max-width: 90%;
    height: 500px;
    max-height: 90vh;
}